@model EventB.ViewModels.MessagesViewModel
@{
    ViewData["Title"] = "Index";
    ViewData["Style"] = "Chat.css";
    ViewData["Script"] = "Messages.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Сообщения";
}


<div class="chat-frame">
    <div class="left-column @((Model.CurrentChatId.HasValue && Model.CurrentChatId == 0) ? "ch-hide-menu" : "")">
        <div >
            <form class="search">
                <input id="txt-search" type="text" autocomplete="off">
                <button id="btn-search" class="flex-hcc">
                    <span class="material-icons">close</span>
                </button>
            </form>
        </div>
        <div class="opponents-list">
            @foreach (var opponent in Model.UserChats)
            {
                <div class="mes-opponent-container">
                    <div class="opponent-container">
                        @if (opponent.IsBlockedInChat)
                        {
                            <input type="hidden" class="opponent-is-blocked-chat" value="1">
                        }
                        else
                        {
                            <input type="hidden" class="opponent-is-blocked-chat" value="0">
                        }
                        <input class="opponent-chat-id" type="hidden" value="@opponent.ChatId" />
                        <input class="opponent-photo-value" type="hidden" value="@opponent.ChatPhoto" />
                        @if (!string.IsNullOrEmpty(opponent.RealtedObjectLink))
                        {
                            <input type="hidden" class="related-link-source" value="@opponent.RealtedObjectLink" />
                        }
                        else
                        {
                            <input type="hidden" class="related-link-source" value="" />
                        }
                        <div class="opponent-name-value overflowed-text">@opponent.ChatName</div>
                        <input class="opponent-id" type="hidden" value="@opponent.OpponentId" />
                        <div class="new-message-flag"></div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="right-columnn">
        <div class="message-header flex-hsbs">

            @if (Model.Opponent != null)
            {

                <div class="flex-hsc">
                    <span class="material-icons mes-return-back">
                        arrow_back
                    </span>
                    <a class="related-link" href="/Friends/UserInfo?userId=@Model.Opponent.Id">
                        <div class="flex-hss">
                            <div class="flex-hcc opponent-photo">
                                <img src="@Model.Opponent.MiniImage" />
                            </div>
                            <div class="opponent-name" id="header-name">@Model.Opponent.Name</div>
                        </div>
                    </a>
                </div>
                <div class="mes-show-chat-menu">
                    <span class="material-icons">
                        more_vert
                    </span>

                </div>
                <div class="mes-chat-menu display-none">
                    <div class="mes-remove-chat flex-hcc">
                        <span class="material-icons">close</span>
                        <span>Удалить&nbsp;чат</span>
                    </div>
                </div>

            }
            else
            {
                <div class="flex-hsc">
                    <span class="material-icons mes-return-back">
                        arrow_back
                    </span>
                    <a class="related-link" href="">
                        <div class="flex-hss">
                            <div class="flex-hcc opponent-photo">
                                <img src="" />
                            </div>
                            <div class="opponent-name" id="header-name"></div>
                        </div>
                    </a>
                </div>
                <div class="mes-show-chat-menu display-none">
                    <span class="material-icons">
                        more_vert
                    </span>
                </div>
                <div class="mes-chat-menu display-none">
                    <div class="mes-remove-chat flex-hcc">
                        <span class="material-icons">close</span>
                        <span>Удалить&nbsp;чат</span>
                    </div>
                </div>
            }
        </div>

        <div class="message-list" id="message-list">
        </div>

        <div class="mes-right-bottom">
            <sub>Сообщение</sub><br>
            <form class="form-send">
                <input id="user-id" type="hidden" value="@Model.CurrentUserId" />
                <input id="chat-id" type="hidden" value="@Model.CurrentChatId" />
                @if (Model.Opponent != null)
                {
                    <input id="opponent-id" type="hidden" value="@Model.Opponent.Id" />
                }
                else
                {
                    <input id="opponent-id" type="hidden" value="0" />
                }
                <textarea id="message"></textarea>
                <button id="btn-send">
                    <span class="material-icons">expand_less</span>
                </button>
            </form>
        </div>

    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.min.js"></script>