@model EventB.ViewModels.MessagesViewModel
@{
    ViewData["Title"] = "Index";
    ViewData["Style"] = "Chat.css";
    ViewData["Script"] = "Messages.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="chat-frame">
    <div class="left-column">
        <div >
            <form class="search">
                <input id="txt-search" type="text">
                <button id="btn-search"></button>
            </form>
        </div>
        <div class="opponents-list">
            @foreach (var opponent in Model.userChats)
            {
                <div class="mes-opponent-container">
                    <div class="opponent-container">
                        @if (opponent.IsBlockedInChat)
                        {
                            <input type="hidden" class="opponent-is-blocked-chat" value="1">
                        }
                        else
                        {
                            <input type="hidden" class="opponent-is-blocked-chat" value="0">
                        }
                        <input class="opponent-chat-id" type="hidden" value="@opponent.ChatId" />
                        <input class="opponent-photo-value" type="hidden" value="@opponent.ChatPhoto" />
                        <div class="opponent-name-value">@opponent.ChatName</div>
                        <input class="opponent-id" type="hidden" value="@opponent.OpponentId" />
                        <div class="new-message-flag"></div>
                    </div>
                </div>            
            }
        </div>
    </div>

    <div class="right-columnn">
        <div class="message-header flex-hsbc">

            @if (Model.Opponent != null)
            {
                <div class="flex-hsc">
                    <div class="flex-hcc opponent-photo">
                        <img src="@Model.Opponent.Photo" />
                    </div>
                    <div class="opponent-name" id="header-name">@Model.Opponent.Name</div>
                </div>
                <div class="mes-remove-chat">Удалить чат</div>
            }
            else
            {
                <div class="flex-hsc">
                    <div class="opponent-photo flex-hcc">
                        <img />
                    </div>
                    <div class="opponent-name" id="header-name"></div>
                </div>
                <div class="mes-remove-chat display-none">Удалить чат</div>
            }
        </div>
                
            
           
        <div class="message-list">
            @if (Model.Messages != null)
            {
                foreach (var mes in Model.Messages)
                {
                    if (mes.EventState)
                    {
                        <div class="message-item message-item-event">
                            <div class="message-sender-event">@mes.SenderName</div>
                            <div class="message-text-event">@mes.Text</div>
                            <div class="message-date-event">@mes.PostDate</div>
                            <div class="message-info display-none">@mes.PersonId</div>
                        </div>
                    }
                    else
                    {
                        <div class="message-item">
                            <div class="message-sender">@mes.SenderName</div>
                            <div class="message-text">@mes.Text</div>
                            <div class="message-date">@mes.PostDate</div>
                            <div class="message-info display-none">@mes.PersonId</div>
                        </div>
                    }
                }
            }
            <div id="vertical-trigger"></div>
        </div>
        <div >
            <sub>Сообщение</sub><br>
            <form class="form-send">
                <input id="user-id" type="hidden" value="@Model.CurrentUserId" />
                <input id="user-name" type="hidden" value="@Model.CurrentUserName" />
                <input id="chat-id" type="hidden" value="@Model.CurrentChatId" />
                @if (Model.Opponent != null){ <input id="opponent-id" type="hidden" value="@Model.Opponent.Id" />}
                else { <input id="opponent-id" type="hidden" value="0"/> }
                <input id="opponent-is-event" type="hidden" value="false" />

                <textarea id="message" ></textarea>
                <button id="btn-send"></button>
            </form>
        </div>

    </div>
</div>