@model EventBLib.Models.Event

<a class="event-a" asp-controller="Events" asp-action="Details" asp-route-id="@Model.EventId">
    <div class="eventlist-container flex-vss">
        <div class="eventlist-img">
            <div class="image-container">
                <img src="@($"{Model.MediumImage}?{DateTime.Now.Millisecond.ToString()}")" class="image-self-back" alt="event"/>
                <div class="image-mask"></div>
                <img src="@($"{Model.MediumImage}?{DateTime.Now.Millisecond.ToString()}")" class="image-self-front" alt="event"/>
            </div>
        </div>
        <div class="eventlist-info">
            <div>
                <hr>
                <h3 class="eve-title">@Model.Title</h3>
            </div>            
            <h4>Место: @Model.Place</h4>
            <h4>Время: @Model.Date.ToString("dd.MM.yyyy HH:mm")</h4>
            <h4>
                Билеты: @if (Model.Tickets)
                {<span>Нужны</span> }
                else
                {<span>Не нужны</span>}
            </h4>           
            <h4>
                Теги: @Model.Tegs
            </h4>
        </div>
        <div class="eventlist-bottom-menu">
            <div class="eventlist-btn-come-right-col">
                <img class="info-img" title="Просмотров" src="~/resourses/eye.png" />
                <span class="info-num">@Model.Views.ToString()</span>
                <img class="info-img" title="Пойдут" src="~/resourses/share.png" />
                <span class="info-num">@Model.Vizits.Count()</span>
            </div>
        </div>
    </div>
</a>