@model EventBLib.Models.Event

<a class="event-a" asp-controller="Events" asp-action="Details" asp-route-id="@Model.EventId">
    <div class="eventlist-container flex-vss">
        <div class="eventlist-img">
            <div class="image-container">
                <img src="@Model.Image" class="image-self-back" alt="event/>
                <div class="image-mask"></div>
                <img src="@Model.Image" class="image-self-front" alt="event"/>
            </div>
        </div>
        <div class="eventlist-info">
            <hr>
            <h3>@Model.Title</h3>
            <h4>Место: @Model.Place</h4><br>
            <h4>Время: @Model.Date.ToString("dd.MM.yyyy hh.mm")</h4><br>
            <h4>
                Билеты: @if (Model.Tickets)
                {<span>Нужны</span> }
                else
                {<span>Не нужны</span>}
            </h4><br>            
            <h4>
                Теги: @Model.Tegs
            </h4>
            <BR>
        </div>
        <div class="eventlist-bottom-menu">
            <div class="eventlist-btn-come-right-col">
                <img class="info-img" title="Просмотров" src="~/resourses/eye.png" />
                <span class="info-num">@Model.Views.ToString()</span>
                <img class="info-img" title="Пойдут" src="~/resourses/share.png" />
                <span class="info-num">@Model.WillGo</span>
            </div>
        </div>
    </div>
</a>