@model EventBLib.Models.Event

<a class="event-a" asp-controller="Events" asp-action="Details" asp-route-id="@Model.EventId" target="_blank">
    <div class="eventlist-container flex-vss transition-1">
        <div class="eventlist-img">
            <div class="image-container">
                <img src="@Model.MediumImage" class="image-self-front" alt="event" />
            </div>
        </div>
        <div class="eventlist-info ">
            <div>
                <h3 class="eve-title ">@Model.Title</h3>
            </div>
            <div>
                <div class="flex-hsbc">
                    <div class="flex-hsc">
                        <span class="material-icons eve-icons">calendar_today</span>
                        <h4 class="eve-time">@Model.Date.ToString("dd MMMM")</h4>
                    </div>

                    <div class="flex-hsc">
                        <span class="material-icons eve-icons">schedule</span>
                        <h4 class="eve-time">@Model.Date.ToString("HH:mm")</h4>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</a>