@model EventBLib.Models.Friend

    <div class="friend-list-container">
        <input type="hidden" value="@Model.FriendUserId" id="friend-entity-id">
        <a asp-action="UserInfo" asp-controller="Friends" asp-route-userId="@Model.FriendUserId">
            <div class="friend-list-img">
                <div class="image-container">
                    <img src="@Model.UserPhoto" class="image-self-front" alt="user" />
                    <div class="fr-image-watersign">
                        @if (!Model.IsConfirmed && !Model.FriendInitiator)
                        {
                            <span class="fr-label-text" style="color: #ffcd00">NEW</span>
                        }
                        @if (!Model.IsConfirmed && Model.FriendInitiator)
                        {
                            <span class="fr-label-text">Заявка не подтверждена</span><br>
                        }
                        @if (Model.IsBlocked)
                        {
                            <span class="fr-label-text">ЗАБЛОКРОВАН</span>
                        }
                    </div>
                    
                </div>                
            </div>
        </a>
        <div>
            <input type="hidden" value="@Model.FriendUserId" id="friend-entity-id" />
            <h3 class="min-height-3str central-title">@Model.UserName</h3>
            @if (!Model.IsConfirmed && !Model.FriendInitiator)
            {
                <div class="calltoaction-prime-btn-orange width100 agree-friend transition-1">Принять заявку</div>
            }
            else
            {
                @if (!Model.IsBlocked)
                {
                    <div class="action-button width100 btn-block" id="btn-block">Заблокировать</div>
                }
                else
                {
                    <div class="red-btn-alert width100 btn-block" id="btn-block">Разблокировать</div>
                }
            }

            <a asp-controller="Messages" asp-action="Index" asp-route-opponentId="@Model.FriendUserId"><div class="action-button width100">Сообщение</div></a>

            <div class="action-button width100 delete-friend">Удалить из друзей</div>

        </div>
    </div>