@model EventBLib.Models.Friend

    <div class="friend-list-container">
        <input type="hidden" value="@Model.UserId" id="friend-entity-id">
        <a asp-action="UserInfo" asp-controller="Friends" asp-route-userId="@Model.UserId">
            <div class="friend-list-img">
                <div class="image-container">
                    <img src="@Model.UserPhoto" class="image-self-back" alt="event" />
                    <div class="image-mask"></div>
                    <img src="@Model.UserPhoto" class="image-self-front" alt="event" />
                </div>                
            </div>
        </a>
        <hr>
        <div>
            <input type="hidden" value="@Model.UserId" id="friend-entity-id" />
            <h3 class="central-title">@Model.UserName</h3>
            @if (!Model.IsConfirmed && Model.FriendInitiator)
            {
                <div class="red-btn-alert width100">Ваша заявка в друзья не подтверждена</div>
            }
            @if (!Model.IsConfirmed && !Model.FriendInitiator)
            {
                <div class="action-button width100 agree-friend">Добавить в друзья</div>
            }
            <input type="hidden" id="friend-id" name="friendId" value="@Model.UserId" />
            @if (!Model.IsBlocked)
            {
                <div class="action-button width100 btn-block" id="btn-block">Заблокировать</div>
            }
            else
            {
                <div class="red-btn-alert width100 btn-block" id="btn-block">Заблокирован</div>
            }
            <a asp-controller="Messages" asp-action="Index" asp-route-opponentId="@Model.UserId"><div class="action-button width100">Сообщение</div></a>

            <div class="action-button width100 delete-friend">Удалить из друзей</div>

        </div>
    </div>