@model EventB.ViewModels.SmallFigure


    <a href="@Model.Link">
        <div class="flex-vsc small-figure-figure @(Model.Active ? "small-figure-active" : "")">
            <div class="image-container min-height-180">
                <img src="@Model.Image" class="image-self-back" />
                <img src="@Model.Image" class="image-self-front" />
            </div>            
            <div class="small-figure-title">@Model.Title</div>
        </div>
    </a>

