@model EventB.ViewModels.SmallFigure


    <a href="@Model.Link">
        <div class="flex-vsc small-figure-figure @(Model.Active ? "small-figure-active" : "") transition-1">
            <div class="small-figure-image">
                <img src="@Model.Image"/>
            </div>            
            <div class="small-figure-title">@Model.Title</div>
            @if (!string.IsNullOrEmpty(Model.AdditionalLine))
            {
                <hr />
                <div>@Model.AdditionalLine.</div>
            }
        </div>
    </a>

