@model EventBLib.Models.User
@{
    ViewData["Title"] = "Index";
    ViewData["Style"] = "MyPage.css";
    ViewData["Script"] = "MyPage.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "мой профиль";
}
<div class="top-page-header">Это вы: @Model.Name</div>
<div id="mypage-banner"></div>
<div class="mp-header">
    <div>
        <div class="mp-img">
            <img src="@Model.Photo" alt="фото">
        </div>
        <div class="btn-area">
            <a asp-action="EditProfile">
                <div class="action-button width100 btn-submit">РЕДАКТИРОВАТЬ</div>
            </a>
            <a asp-action="MarketRoom" asp-controller="MarketRoom">
                <div class="action-button width100 btn-submit">ЛИЧНЫЙ КАБИНЕТ</div>
            </a>
        </div>        
    </div>
    
    <div class="mp-data">

        <h3 class="mp-name">@Model.Name</h3>
        <div class="mp-data-label">Электронная почта:</div>
        <div class="mp-data-value">@Model.Email</div>
        @if (!string.IsNullOrWhiteSpace(Model.PhoneNumber))
        {
            <div class="mp-data-label">Телефон:</div>
            <div class="mp-data-value">@Model.PhoneNumber</div>
        }

        <div class="mp-data-label">Поиск событий для:</div>
        <div class="mp-data-value">@Model.City</div>
        <div class="mp-data-label">Интересы:</div>
        <div class="mp-data-tegs">
            @if (Model.Intereses != null)
            {
                @foreach (var e in Model.Intereses)
                {
                    var tegData = new EventB.ViewModels.SharedViews.TegColoredLink()
                    {
                        TegValue = e.Value,
                        City = Model.City
                    };
                    await Html.RenderPartialAsync("~/Views/Shared/_tegColoredLink.cshtml", tegData);
                }
            }
        </div>
        <div class="mp-data-label">О себе:</div>
        <div>@Model.Description</div>

    </div>
</div>

<div class="mp-details-header">
    <span id="events-willgo" class="mp-my-selector selected-label">Пойду</span>
    <span id="my-events" class="mp-my-selector">созданные</span>
    <div class="flex-hcc">
        <span id="mp-invites-star" class="s-star16 s-star16-inline display-none"></span>
        <span id="invites" class="mp-my-selector">Приглашения</span>
    </div>
    
</div>
<div class="details-container">

    <div class="mp-my-content" id="events-willgo-body">
        загрузка...
    </div>

    <div class="mp-my-content display-none" id="my-events-body">
        загрузка...
    </div>

    <div id="invites-body" class="mp-my-content display-none">
        загрузка...
    </div>
</div>

<div>
    @{ await Html.RenderPartialAsync("_SiteFooter"); }
</div>

