@model EventBLib.Models.User
@{
    ViewData["Title"] = "Index";
    ViewData["Style"] = "MyPage.css";
    ViewData["Script"] = "MyPage.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="top-page-header">Это вы: @Model.Name</div>
<div class="mp-header">
    <div class="mp-img">
        <img src="@Model.Photo" alt="фото">
    </div>
    <div class="mp-data">
        <a id="btn-edit" asp-action="EditProfile">РЕДАКТИРОВАТЬ</a>
        <h3 class="mp-name">@Model.Name</h3>
        <div class="mp-data-label">Электронная почта:</div>
        <div class="mp-data-value">@Model.Email</div>
        <div class="mp-data-label">Ccылка на страницу:</div>
        <div class="mp-data-value">Отправить</div>
        <div class="mp-data-label">Городе:</div>
        <div class="mp-data-value">@Model.City</div>
        <div class="mp-data-label">Мои теги:</div>
        <div class="mp-data-tegs">
            @if (Model.Intereses != null)
            {
                @foreach (var e in Model.Intereses)
                {
                    <span class="mp-teg">@e.Value</span>
                }
            }
        </div>
        <div class="mp-data-label">Пара слов:</div>
        <div>@Model.Description</div>
        <a asp-action="MarketRoom" asp-controller="MarketRoom"><div>Рекламный кабинет</div></a>
    </div>
</div>

<div class="mp-details-header">
    <span id="events-willgo" class="mp-my-selector selected-label">Я пойду</span>
    <span id="my-events" class="mp-my-selector">Мои события</span>
    <span id="friends" class="mp-my-selector">Подписки</span>
    <span id="invites" class="mp-my-selector">Приглашения(@Model.Invites.Count())</span>
</div>
<div class="details-container">

    <div class="mp-my-content" id="events-willgo-body">
        @if (Model.Vizits == null || Model.Vizits.Count == 0)
        {
            <div class="mp-none-content">Отметок пойду пока нет.</div>
        }
        else
        {
            <div>Вы пойдете на следующие события:</div>
            <div class="element-square-container">
                @foreach (var e in Model.Vizits)
                {
                    await Html.RenderPartialAsync("_smallFigure", new EventB.ViewModels.FriendsVM.SmallFigureFriendVM() 
                    {
                        Title =e.EventTitle, 
                        Link = $"/Events/Details/{e.EventId}",
                        Image = e.EventPhoto
                    });
                }
            </div>
        }
    </div>

    <div class="mp-my-content flex-hsac display-none" id="my-events-body">
        @if (Model.MyEvents == null || Model.MyEvents.Count == 0)
        {
            <div class="mp-none-content">Моих событий пока нет.</div>
        }
        else
        {
        <div>Созданные события:</div>
            <div class="element-square-container">
                    @foreach (var e in Model.MyEvents)
                    {
                        await Html.RenderPartialAsync("_smallFigure", new EventB.ViewModels.FriendsVM.SmallFigureFriendVM()
                        {
                            Title = e.Title,
                            Link = $"/Events/Details/{e.EventId}",
                            Image = e.Image
                        });                
                    }         
            </div>
        }
    </div>

    <div id="friends-body" class="mp-my-content flex-hsac display-none">
        @if (Model.Friends == null || Model.Friends.Count == 0)
        {
            <div class="mp-none-content">Друзей пока нет.</div>
        }
        else
            @foreach (var e in Model.Friends)
            {
                await Html.RenderPartialAsync("_friendBigCardPartial", e);                
            }
    </div>

    <div id="invites-body" class="mp-my-content display-none">
        @if (Model.Invites == null || Model.Invites.Count() == 0)
        {
            <span>Приглашений нет</span>
        }
        else
        {
            foreach (var inv in Model.Invites)
            {
                <div class="total-invite">
                    <div class="invite-header">Приглашение</div>

                    <div class="invite-container">
                        <a asp-action="Details" asp-controller="Events" asp-route-id="@inv.EventId">
                            <img class="item-img" src="@inv.Event.Image">
                        </a>
                        <div class="inv-content">
                            <a asp-action="Details" asp-controller="Events" asp-route-id="@inv.EventId">
                                <p>@inv.Event.Title </p>
                            </a>
                            <p>@inv.Event.Place </p>
                            <p>@inv.Event.Date.ToString("dd.MM.yy hh:mm")</p>
                            <p>@inv.Event.City</p>
                            <input id="eveId" type="hidden" value="@inv.EventId">
                            <input id="inviteId" type="hidden" value="@inv.InviteId">
                            <div class="btn mp-will-go" id="will-go">Пойду )</div>
                            <div class="btn mp-will-notgo" id="will-notgo">Не пойду (</div>

                        </div>

                        <div class="inv-content">
                            <p><b>Вас приглашает @inv.InviterName:</b></p>
                            <p>@inv.InviteDescription</p>
                        </div>
                        <a asp-action="UserInfo" asp-controller="Friends" asp-route-userId="@inv.InviterId">
                            <img class="item-img" src="@inv.InviterPhoto" alt="@inv.InviterName" />
                        </a>
                    </div>
                </div>
            }
        }       

    </div>
</div>

