@model EventBLib.Models.User
@{
    ViewData["Title"] = "Index";
    ViewData["Style"] = "MyPage.css";
    ViewData["Script"] = "MyPage.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mp-header">
    <div class="mp-img">
        <img src="@Model.Photo" alt="фото">
    </div>
    <div class="mp-data">
        <a id="btn-edit">РЕДАКТИРОВАТЬ</a>
        <h3 class="mp-name">@Model.Name</h3>                   
        <div class="mp-data-label">Ccылка на страницу:</div>
        <div class="mp-data-value">ссылка ..............</div>
        <div class="mp-data-label">Городе:</div>
        <div class="mp-data-value">@Model.City</div>
        <div class="mp-data-label">Мои теги:</div>
        <div class="mp-data-tegs">            
            @if (Model.Intereses != null)
            {
                @foreach (var e in Model.Intereses)
                {
                    <span class="mp-teg">@e.Value</span>
                }
            }               
        </div>
        <div class="mp-data-label">Пара слов:</div>
        <div>text text text text text text text text text text text text text text text
        text text text text text text text text text text text text text </div>
    </div>
</div>

<div class="mp-details-header">
    <span id="events-willgo" class="mp-my-selector selected-label">Я пойду</span>
    <span id="my-events" class="mp-my-selector">Мои события</span>
    <span id="friends" class="mp-my-selector">Подписки</span>
</div>
<div>

    <div class="mp-my-content" id="events-willgo-body">
        @if (Model.Vizits == null || Model.Vizits.Count == 0)
        {
            <div class="mp-none-content">Отметок пойду пока нет.</div>
        }
        else
        {
            <div>Вы пойдете на следующие события:</div>
            <div class="element-square-container">
            @foreach (var e in Model.Vizits)
            {
                <div class="events-square-item">
                    <a asp-route-id="@e.EventId" asp-action="Details" asp-controller="Events">
                        <figure>
                            <img src="@e.EventPhoto" />
                            <figcaption><div>@e.EventTitle</div></figcaption>
                        </figure>
                    </a>
                </div>

                <div class="events-square-item">
                    <a asp-route-id="@e.EventId" asp-action="Details" asp-controller="Events">
                        <figure>
                            <img src="@e.EventPhoto" />
                            <figcaption><div>@e.EventTitle</div></figcaption>
                        </figure>
                    </a>
                </div>

                <div class="events-square-item">
                    <a asp-route-id="@e.EventId" asp-action="Details" asp-controller="Events">
                        <figure>
                            <img src="@e.EventPhoto" />
                            <figcaption><div>@e.EventTitle</div></figcaption>
                        </figure>
                    </a>
                </div>
            }
            </div>
        }
    </div>

    <div class="mp-my-content display-none" id="my-events-body">
        @if (Model.MyEvents == null || Model.MyEvents.Count == 0)
        {
            <div class="mp-none-content">Моих событий пока нет.</div>
        }
        else
            @foreach (var e in Model.MyEvents)
            {
                <div>
                    <div>Название: @e.Title</div>
                </div>
            }
    </div>

    <div id="friends-body" class="mp-my-content display-none">
        @if (Model.Friends == null || Model.Friends.Count == 0)
        {
            <div class="mp-none-content">Подписок пока нет.</div>
        }
        else
            @foreach (var e in Model.Friends)
            {
                <div class="friend-list-container">
                    <div class="left-column-container">
                        <img src="@e.UserPhoto" class="friend-list-img" />
                        <div>
                            <h3>@e.UserName</h3>
                            <div>Add statistics</div>
                            <div>Add statistics</div>
                            <div>Add statistics</div>
                        </div>
                    </div>

                    <div class="right-column-container">
                        <input type="hidden" name="friendId" value="@e.PersonFriendId" />
                        <button class="form-submit" asp-controller="Events" asp-action="UserEvents">События</button>
                        <button class="form-submit" asp-controller="Messages" asp-action="DirectChat">Сообщение</button>
                        <button class="form-submit" asp-action="BlockUser">Заблокировать</button>
                    </div>

                </div>
            }
    </div>
</div>

