@model EventB.Models.User
@{
    ViewData["Title"] = "Index";
    ViewData["Style"] = "MyPage.css";
    ViewData["Script"] = "MyPage.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mp-header">
    <div class="mp-img">
        <img src="@Model.Photo" alt="фото">
    </div>
    <div class="mp-data">
        <a id="btn-edit">РЕДАКТИРОВАТЬ</a>
        <h3 class="mp-name">@Model.Name</h3>                   
        <div class="mp-data-label">Ccылка на страницу:</div>
        <div class="mp-data-value">ссылка ..............</div>
        <div class="mp-data-label">Городе:</div>
        <div class="mp-data-value">@Model.City</div>
        <div class="mp-data-label">Мои теги:</div>
        <div class="mp-data-tegs">            
            @if (Model.Intereses != null)
            {
                @foreach (var e in Model.Intereses)
                {
                    <span class="mp-teg">@e.Value</span>
                }
            }               
        </div>
        <div class="mp-data-label">Пара слов:</div>
        <div>text text text text text text text text text text text text text text text
        text text text text text text text text text text text text text </div>
    </div>
</div>

<div class="mp-details-header">
    <span class="mp-my-selector selected-label">Я пойду</span>
    <span class="mp-my-selector">Мои события</span>
    <span class="mp-my-selector">Подписки</span>
</div>
<div>

    <div class="mp-my-content">
        @if (Model.Vizits == null || Model.Vizits.Count == 0)
        {
            <div class="mp-none-content">Отметок пойду пока нет.</div>
        }
        else
        {
            <div>Вы пойдете на следующие события:</div>
            @foreach (var e in Model.Vizits)
            {
                <div>
                    <div>Photo: @e.VizitirPhoto</div>
                    <div>Название: @e.EventTitle</div>
                </div>
            }
        }
    </div>

    <div class="mp-my-content display-none">
        @if (Model.MyEvents == null || Model.MyEvents.Count == 0)
        {
            <div class="mp-none-content">Моих событий пока нет.</div>
        }
        else
            @foreach (var e in Model.MyEvents)
            {
                <div>
                    <div>Название: @e.Title</div>
                </div>
            }
    </div>

    <div class="mp-my-content display-none">
        @if (Model.Friends == null || Model.Friends.Count == 0)
        {
            <div class="mp-none-content">Подписок пока нет.</div>
        }
        else
            @foreach (var e in Model.Friends)
            {
                <div>
                    <div>Photo: @e.UserPhoto</div>
                    <div>Название: @e.UserName</div>
                </div>
            }
    </div>
</div>

