@model EventB.Models.User
@{
    ViewData["Title"] = "Index";
    ViewData["Style"] = "MyPage.css";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mypage-header">
    <div class="mypage-img">
        <img src="~/images/defaultimg.jpg" alt="фото">
    </div>
    <div class="mypage-right-column">
        <div class="mypage-redact">
            <h3>@Model.Name</h3>
            <a id="btn-redact">редактировать</a>
        </div>
        <h3>Ccылка на страницу:</h3>
        <p>ссылка ..............</p>
        <h3>в городе:</h3>
        <p>@Model.City</p>
        <h3>Мои теги:</h3>
        <div>
            <p>
                @if (Model.Intereses != null)
                {
                    @foreach (var e in Model.Intereses)
                    {
                        <span>@e.Value </span>
                    }
                }
               </p>
        </div>
    </div>
</div>
<div class="mypage-details-header">
    <span>Мои события</span>
    <span>Я пойду</span>
    <span>Подписки</span>
</div>
<div>
        <div class="">
            @if (Model.MyEvents==null || Model.MyEvents.Count == 0)
            {
                <div>Моих событий пока нет.</div>
            }
            else
            @foreach (var e in Model.MyEvents)                
            {
                <div>
                    <div>Название: @e.Title</div>
                </div>
            }
        </div>

        <div class="">
            @if (Model.Vizits==null || Model.Vizits.Count == 0)
            {
                <div>Отметок пойду пока нет.</div>
            }
            else
            @foreach (var e in Model.Vizits)
            {
                <div>
                    <div>Photo: @e.VizitirPhoto</div>
                    <div>Название: @e.EventTitle</div>
                </div>
            }
        </div>

        <div class="">
            @if (Model.Friends==null || Model.Friends.Count == 0)
            {
                <div>Подписок пока нет.</div>
            }
            else
            @foreach (var e in Model.Friends)
            {
                <div>
                    <div>Photo: @e.UserPhoto</div>
                    <div>Название: @e.UserName</div>
                </div>
            }
        </div>
</div>

