@model EventBLib.Models.User
@{
    ViewData["Title"] = "Index";
    ViewData["Style"] = "MyPage.css";
    ViewData["Script"] = "MyPage.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "мой профиль";
}
<div class="top-page-header">Это вы: @Model.Name</div>
<div id="mypage-banner"></div>
<div class="mp-header">
    <div>
        <div class="mp-img">
            <img src="@($"{Model.Photo}?{DateTime.Now.Millisecond.ToString()}")" alt="фото">
        </div>
        <div class="btn-area">
            <a asp-action="EditProfile">
                <div class="action-button width100 btn-submit">РЕДАКТИРОВАТЬ</div>
            </a>
            <a asp-action="MarketRoom" asp-controller="MarketRoom">
                <div class="action-button width100 btn-submit">ЛИЧНЫЙ КАБИНЕТ</div>
            </a>
        </div>        
    </div>
    
    <div class="mp-data">

        <h3 class="mp-name">@Model.Name</h3>
        <div class="mp-data-label">Электронная почта:</div>
        <div class="mp-data-value">@Model.Email</div>
        @if (!string.IsNullOrWhiteSpace(Model.PhoneNumber))
        {
            <div class="mp-data-label">Телефон:</div>
            <div class="mp-data-value">@Model.PhoneNumber</div>
        }

        <div class="mp-data-label">Ccылка на страницу:</div>
        <div class="mp-data-value">Отправить</div>
        <div class="mp-data-label">Поиск событий для:</div>
        <div class="mp-data-value">@Model.City</div>
        <div class="mp-data-label">Интересы:</div>
        <div class="mp-data-tegs">
            @if (Model.Intereses != null)
            {
                @foreach (var e in Model.Intereses)
                {
                    var tegData = new EventB.ViewModels.SharedViews.TegColoredLink()
                    {
                        TegValue = e.Value,
                        City = Model.City
                    };
                    await Html.RenderPartialAsync("~/Views/Shared/_tegColoredLink.cshtml", tegData);
                }
            }
        </div>
        <div class="mp-data-label">О себе:</div>
        <div>@Model.Description</div>

    </div>
</div>

<div class="mp-details-header">
    <span id="events-willgo" class="mp-my-selector selected-label">Я пойду</span>
    <span id="my-events" class="mp-my-selector">Мои события</span>
    <div class="flex-hcc">
        <span id="mp-invites-star" class="s-star16 s-star16-inline display-none"></span>
        <span id="invites" class="mp-my-selector">Приглашения(@Model.Invites.Count())</span>
    </div>
    
</div>
<div class="details-container">

    <div class="mp-my-content" id="events-willgo-body">
        <div class="s-filter-container">
            <span class="small-label">Фильтр</span>
            <div class="flex-hsbc">
                <input id="mp-vizits-filter" class="s-filter" />
                <img src="~/resourses/cancel.png" class="s-filter-clear" />
            </div>
            
        </div>
        <div>Вы пойдете на следующие события:</div>
        <div class="element-square-container">
            @if (Model.Vizits == null || Model.Vizits.Count == 0)
            {
                <div class="mp-none-content">Отметок пойду пока нет.</div>
            }
            else
            {

                @foreach (var e in Model.Vizits.OrderByDescending(e => e.Event.Date))
                {
                    <div class="mp-details-figure">
                        @{await Html.RenderPartialAsync("_smallFigure", new EventB.ViewModels.FriendsVM.SmallFigureFriendVM()
                            {
                                Title = e.EventTitle,
                                Link = $"/Events/Details/{e.EventId}",
                                Image = e.EventPhoto
                            });
                        }
                    </div>
                    
                }
            }
        </div>
    </div>

    <div class="mp-my-content display-none" id="my-events-body">
        <div class="s-filter-container">
            <span class="small-label">Фильтр</span>
            <div class="flex-hsbc">
                <input id="mp-created-ev-filter" class="s-filter" />
                <img src="~/resourses/cancel.png" class="s-filter-clear" />
            </div>
            
        </div>
        <div>Созданные события:</div>
        <div class="element-square-container">
            @if (Model.MyEvents == null || Model.MyEvents.Count == 0)
            {
                <div class="mp-none-content">Моих событий пока нет.</div>
            }
            else
            {
                @foreach (var e in Model.MyEvents.OrderByDescending(e=>e.Date))
                {
                    <div class="mp-details-figure">
                        @{await Html.RenderPartialAsync("_smallFigure", new EventB.ViewModels.FriendsVM.SmallFigureFriendVM()
                            {
                                Title = e.TitleShort,
                                Link = $"/Events/Details/{e.EventId}",
                                Image = e.MediumImage
                            });
                        }
                    </div>                                  
                 }
            }
        </div>
    </div>

    <div id="invites-body" class="mp-my-content display-none">
        <div class="s-filter-container">
            <span class="small-label">Фильтр</span>
            <div class="flex-hsbc">
                <input id="mp-invites-filter" class="s-filter" />
                <img src="~/resourses/cancel.png" class="s-filter-clear" />
            </div>
            
        </div>
        <div class="element-square-container">
            @if (Model.Invites == null || Model.Invites.Count() == 0)
            {
                <span>Приглашений нет</span>
            }
            else
            {
                foreach (var inv in Model.Invites)
                {
                    <div class="total-invite">
                        <div class="invite-header">Приглашение</div>

                        <div class="invite-container">
                            <a asp-action="Details" asp-controller="Events" asp-route-id="@inv.EventId">
                                <img class="item-img" src="@(inv.Event.MediumImage + "?" + DateTime.Now.Millisecond.ToString())">
                            </a>
                            <div class="inv-content">
                                <a asp-action="Details" asp-controller="Events" asp-route-id="@inv.EventId">
                                    <p class="mp-invites-title">@inv.Event.Title </p>
                                </a>
                                <p>@inv.Event.Place </p>
                                <p>@inv.Event.Date.ToString("dd.MM.yy HH:mm")</p>
                                <p>@inv.Event.City</p>
                                <input id="eveId" type="hidden" value="@inv.EventId">
                                <input id="inviteId" type="hidden" value="@inv.InviteId">
                                <div class="btn mp-will-go" id="will-go">Пойду )</div>
                                <div class="btn mp-will-notgo" id="will-notgo">Не пойду (</div>

                            </div>

                            <div class="inv-content">
                                <p><b>Вас приглашает @inv.InviterName:</b></p>
                                <p>@inv.InviteDescription</p>
                            </div>
                            <a asp-action="UserInfo" asp-controller="Friends" asp-route-userId="@inv.InviterId">
                                <img class="item-img" src="@(inv.InviterPhoto + "?" + DateTime.Now.Millisecond.ToString())" alt="@inv.InviterName" />
                            </a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

