@model EventB.ViewModels.MarketRoom.MarketRoomVM
@{
    ViewData["Title"] = "MarketRoom";
    ViewData["Style"] = "MarketRoom.css";
    ViewData["Script"] = "MarketRoom.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "личный кабинет";
}

<div class="top-page-header">ваш личный кабинет</div>

<div class="market-frame">
    <div class="right-columnn">
        <div id="lk-event-page" class="lk-page">
            <div class="lk-header">
                События:
                <span class="lk-info-p">Всего: @Model.Events.Count()</span>
                <span class="lk-info-p">Активных: @Model.Events.Where(e => e.Date > DateTime.Now).Count()</span>
                <span class="lk-info-p">Публичных: @Model.Events.Where(e => e.Type == EventType.Global).Count()</span>
            </div>

            @if (Model.Events.Count() > 0)
            {
                <div class="s-filter-container">
                    <span class="small-label">Фильтр</span>
                    <div class="flex-hsbc">
                        <input id="lk-eve-filter" class="s-filter" />
                        <img src="~/resourses/cancel.png" class="s-filter-clear" id="lk-eve-filter-clear" />
                    </div>

                </div>

                foreach (var ev in Model.Events)
                {
                    <div class="lk-eve-item">
                        <div class="lk-event">
                            <div>
                                @{await Html.RenderPartialAsync("~/Views/Shared/_eventItemPartial.cshtml", ev);}
                            </div>
                            <div class="margin-8px">
                                <input class="kibnet-event-id" type="hidden" value="@ev.EventId" />
                                <div class="label-foregrounded-dark lk-event-state">Статус: @ev.Type</div>
                                @if (ev.Type == EventType.Private)
                                {
                                    <div class="action-button lk-change-event-status">Сменить статус</div>
                                }
                                <a asp-action="EventEdit" asp-controller="Events" asp-route-eventId="@ev.EventId"><div class="action-button">Редактировать</div></a>
                                <!--<div class="action-button">Статистика</div>-->
                                <div class="lk-delete-event action-button">Удалить</div>
                                <div class="lk-block-users-chat action-button">Заблокировать пользователей в чате события</div>
                            </div>
                        </div>
                        <hr>
                    </div>

                }
            }
            else
            {
                <p class="info-p">Cобытий нет.</p>
            }
        </div>
    </div>
</div>


