
@{
    ViewData["Title"] = "MarketRoom";
    ViewData["Style"] = "MarketRoom.css";
    ViewData["Script"] = "MarketRoom.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model EventBLib.Models.MarketingModels.MarkListCard

<p>@Model.AHref</p>
<p>@Model.City</p>
<p>@Model.CreationDate</p>
<p>@Model.ImageLink</p>
<p>@Model.IsPayed</p>
<p>@Model.ShawnQuantity</p>

