@model EventB.ViewModels.EventDetailsViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top-line"></div>
<div class="item-container">
    <div class="item-container-img">
        <img class="item-img" src="@Model.Event.Image">
    </div>
    <h2 class="item-title">@Model.Event.Title</h2>
    <h3>Когда: @Model.Event.Date.ToString("dd-MM-yyyy hh.mm")</h3>
    <h4>Город: @Model.Event.Sity</h4>
    <h4>Где: @Model.Event.Place </h4>
    <p>@Model.Event.Body</p>
    <p>ТЕГИ: @Model.Event.Tegs</p>
    <div class="item-inner-separator"></div>

    <div class="author">выложил: @Model.CreatorName</div>

    <div class="item-inner-separator"></div>
</div>

<div class="eventlist-bottom-menu">
    <div class="will-go">
        <div class="eventlist-btn-come">Я ПОЙДУ!</div>
        <div class="will-go-img">
            <img src="~/resourses/check-yellow.png" />
        </div>
    </div>
    <div class="eventlist-btn-come-right-col">
        <img class="info-img" title="просмотров" src="~/resourses/eye.png" />
        <span class="info-num">@Model.Event.Views.ToString()</span>
        <img class="info-img" title="отметок нравится" src="~/resourses/like.png" />
        <span class="info-num">@Model.Event.Likes.ToString()</span>
        <img class="info-img" title="отметок Пойду" src="~/resourses/willgo2.png" />
        <span class="info-num">@Model.Event.WillGo.ToString()</span>
    </div>
</div>

<!--  Список посетителей  -->
<div class="eventitem-vizitors-list">
    <div class="eventitem-vizitors-list-header">
        <div>
            <img class="eventitem-vizitors-list-arrow" src="~/resourses/yellowarrowright.png">
        </div>
        <span>Отметились пойдут(@Model.Event.WillGo.ToString()):</span>
    </div>
    <div class="eventitem-vizitors-list-body">
        <div class="eventitem-vizitors-list-body-flex">
            @foreach (var e in Model.Vizitors)
            { 
                <div class="eventitem-vizitors-list-body-element">
                    @e.Value
                </div>
            }
        </div>
    </div>

</div>

<!--  comments  -->
