@model EventBLib.Models.Event
@{
    ViewData["Title"] = "Details";
    ViewData["Style"] = "Event.css";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "детали";
}
<div class="top-page-header">Описание события</div>
<div class="ev-big-img">
    <div class="image-container">
        <img src="@Model.Image" class="image-self-back" />
        <div class="image-mask"></div>
        <img src="@Model.Image" class="image-self-front" />
    </div>
</div>
<div class="item-container">
    <div class="ev-twin-details">
        <div class="ev-half">
            <h2>@Model.Title</h2>
            <hr>
            <h3>Когда: @Model.Date.ToString("dd.MM.yyyy HH:mm")</h3>
            <h4>Город: @Model.City</h4>
            <h4>Где: @Model.Place </h4>
            <p>Интересы: @Model.Tegs</p>
            @if (!string.IsNullOrWhiteSpace(Model.Phone))
            {
                <p>Контактный телефон: @Model.Phone</p>
            }
            @if (Model.AgeRestrictions != 0)
            {
                <p>Возрастные ограничения: @Model.AgeRestString</p>
            }
            <p>Выложил: <a href="/Friends/UserInfo?userId=@Model.Creator.Id">@Model.Creator.Name</a></p>
        </div>
    </div>
    <hr>
    <p class="formatted-body">@Model.Body</p>
    @if (Model.Tickets)
    {
        <label>Билеты:</label>
        <p class="formatted-body">@Model.TicketsDesc</p>
    }

    <hr>
    <div id="come-block">
        @if (Model.Vizits.Where(e => e.UserId == ViewData["UserId"].ToString()).Any())
        {
            <div class="form-label">Вы пойдете</div>
            <div id="btn-come" class="form-search-fade">Отменить участие</div>
        }
        else
        {
            <div class="form-label display-none">Вы пойдете</div>
            <div id="btn-come" class="form-submit">Подтвердить участие</div>
        }
    </div>
    <div id="btn-invite" class="form-submit">Пригласить на это событие</div>
    <div id="btn-details-send-link" class="form-submit">Отправить ссылку на событие</div>
    <!--
    @if (Model.Tickets)
    {
        <div id="btn-buy-tikets" class="form-submit">Купить билеты</div>
    }
    -->
    <hr>
</div>

<div class="eventlist-bottom-menu">
    <div class="eventlist-btn-come-right-col">
        <img class="info-img" title="Просмотров" src="~/resourses/eye.png" />
        <span class="info-num">@Model.Views.ToString()</span>
        <img class="info-img" title="Пойдут" src="~/resourses/share.png" />
        <span class="info-num">@Model.Vizits.Count()</span>
    </div>
</div>

<div class="bottom-menu">
    <span class="bottom-menu-item bottom-menu-item-selected" id="btn-changes">Изменения</span>
    <span class="bottom-menu-item" id="btn-chat">Комментарии</span>
    <span class="bottom-menu-item" id="btn-vizitors">Участники(@Model.Vizits.Count())</span>

</div>
<div class="bottom-body">
    <!--Изменения-->
    <div class="bottom-page" id="ed-changes">
        Загрузка...
    </div>

    <!--чат-->
    <div class="bottom-page display-none" id="chat">
        <form>

            <input type="hidden" id="user-id" value="@ViewData["UserId"]" />
            <input type="hidden" id="user-name" value="@ViewData["UserName"]" />
            <input type="hidden" id="event-id" value="@Model.EventId" />
            <input type="hidden" id="chat-id" value="@Model.Chat.ChatId" />
            @if (Model.Chat.UserChat.Count > 0 && !Model.Chat.UserChat[0].IsBlockedInChat)
            {
                <label>Сообщение</label><br>
                <button type="submit" id="btn-send">Отправить</button>
                <textarea id="text"></textarea>
            }
        </form>
        <div class="ed-message-list">
            Загрузка...
        </div>
    </div>

    <!-- посетители-->
    <div class="bottom-page display-none" id="vizitors">
        <div class="flex-hss flex-wr">
            @foreach (var e in Model.Vizits)
            {
                await Html.RenderPartialAsync("_smallFigure", new EventB.ViewModels.FriendsVM.SmallFigureFriendVM()
                {
                    Title = e.VizitorName,
                    Link = $"/Friends/UserInfo?userId={e.UserId}",
                    Image = e.VizitirPhoto
                });
            }
        </div>
    </div>
</div> 


@{ViewData["Script"] = "Event.js";
}
