@model EventB.ViewModels.EventsVM.EventEditVM
@{
    ViewData["Title"] = "Изменения";
    ViewData["Style"] = "Event.css";
    ViewData["Script"] = "Event.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="top-page-header">Редактор события</div>

@if (ViewBag.Status == 204)
{
    <h3>Нет содержимого.</h3>
}
else if (ViewBag.Status == 403)
{
    <h3>Нет доступа.</h3>
}
else
{
<form asp-controller="Events" asp-action="EventEdit" asp-antiforgery="true" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="form-summary"></div>

    <label class="form-label" asp-for="Title"></label>
    <span asp-validation-for="Title"></span>
    <input class="form-entry-title" type="text" asp-for="Title" value="@Model.Title" id="eve-add-title" /><br>
    <input type="hidden" asp-for="OldTitle" value="@Model.OldTitle" />

    <label class="form-label" asp-for="Body"></label>
    <span asp-validation-for="Body"></span>
    <textarea class="form-entry-body height300" type="text" asp-for="Body"></textarea><br>
    <input type="hidden" asp-for="OldBody" value="@Model.OldBody" />

    <label class="form-label" asp-for="Tegs"></label>
    <span asp-validation-for="Tegs"></span>
    <input class="form-entry-title" type="text" asp-for="Tegs" /><br>
    <input type="hidden" asp-for="OldTegs" value="@Model.OldTegs" />

    <label class="form-label" asp-for="City"></label>
    <span asp-validation-for="City"></span>
    <input class="form-entry-title" type="text" asp-for="City" /><br>
    <input type="hidden" asp-for="OldCity" value="@Model.OldCity" />

    <label class="form-label" asp-for="Place"></label>
    <span asp-validation-for="Place"></span>
    <input class="form-entry-title" type="text" asp-for="Place" /><br>
    <input type="hidden" asp-for="OldPlace" value="@Model.OldPlace" />

    <label class="form-label" asp-for="Tickets"></label>
    <span asp-validation-for="Tickets"></span><br>
    <textarea class="form-entry-body" type="text" asp-for="Tickets"></textarea><br>
    <input type="hidden" asp-for="OldTickets" value="@Model.OldTickets" />

    <label class="form-label" asp-for="Phone"></label>
    <span asp-validation-for="Phone"></span><br>
    <input class="form-entry-title" type="text" asp-for="Phone" /><br>
    <input type="hidden" asp-for="OldPhone" value="@Model.OldPhone" />

    <label class="form-label" asp-for="AgeRest"></label><br />
    <span asp-validation-for="AgeRest"></span>
    <select asp-for="AgeRest" class="custom-select width200">
        <option value="0">0+</option>
        <option value="6">6+</option>
        <option value="12">12+</option>
        <option value="16">16+</option>
        <option value="18">18+</option>
    </select><br>

    <label class="form-label" asp-for="Date"></label>
    <span asp-validation-for="Date"></span><br>

    <div class="content">@Model.OldDate.ToString("dd.MM.yyyy HH:mm")</div> <br />
    <label class="form-label">изменить на</label> <br />
    <input type="datetime-local" class="form-date" value="@Model.Date" asp-for="Date" id="eve-add-date" /><br>
    <input type="hidden" asp-for="OldDate" value="@Model.OldDate" />
    <br />
    <label class="form-label" asp-for="MainPicture"></label><br />
    <input class="form-date" type="file" asp-for="NewPicture" id="eve-add-image" /><br>

    <div class="dot16px"></div>
    <label class="form-label">Предпросмотр</label>
    <div class="eventlist-container flex-vss transition-1">
        <div class="eventlist-img">
            <div class="image-container">
                <img src="@($"{Model.MainPicture}?{DateTime.Now.ToString()}")" class="image-self-front" alt="event" id="eve-add-image_preview" />
            </div>
        </div>
        <div class="eventlist-info ">
            <div>
                <h3 class="eve-title" id="eve-add-title_preview">@Model.OldTitle</h3>
            </div>
            <div>
                <div class="flex-hsbc">
                    <div class="flex-hsc">
                        <span class="material-icons eve-icons">calendar_today</span>
                        <h4 class="eve-time" id="eve-add-date_preview">@Model.OldDate.ToString("dd.MM")</h4>
                    </div>

                    <div class="flex-hsc">
                        <span class="material-icons eve-icons">schedule</span>
                        <h4 class="eve-time" id="eve-add-time_preview">@Model.OldDate.ToString("HH:mm")</h4>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <input type="hidden" asp-for="EventId">

    <input class="form-submit" type="submit" value="Сохранить" /><hr>

</form>
}
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}