@model EventB.ViewModels.EventsVM.EventEditVM
@{
    ViewData["Title"] = "Изменения";
    ViewData["Style"] = "Event.css";
    ViewData["Script"] = "Event.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "редактор";
}
    <div class="top-page-header">Редактор события</div>

@if (ViewBag.Status == 204)
{
    <h3>Нет содержимого.</h3>
}
else if (ViewBag.Status == 403)
{
    <h3>Нет доступа.</h3>
}
else
{
<form asp-controller="Events" asp-action="EventEdit" asp-antiforgery="true" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="form-summary"></div>

    <label class="form-label" asp-for="Title"></label>
    <span asp-validation-for="Title"></span><br>
    <input class="form-entry-title" type="text" asp-for="Title" value="@Model.Title" /><br>
    <input type="hidden" asp-for="OldTitle" value="@Model.OldTitle" />

    <label class="form-label" asp-for="Body"></label>
    <span asp-validation-for="Body"></span><br>
    <textarea class="form-entry-body" type="text" asp-for="Body"></textarea><br>
    <input type="hidden" asp-for="OldBody" value="@Model.OldBody" />

    <label class="form-label" asp-for="Tegs"></label>
    <span asp-validation-for="Tegs"></span><br>
    <input class="form-entry-title" type="text" asp-for="Tegs" /><br>
    <input type="hidden" asp-for="OldTegs" value="@Model.OldTegs" />

    <label class="form-label" asp-for="City"></label>
    <span asp-validation-for="City"></span><br>
    <input class="form-entry-title" type="text" asp-for="City" /><br>
    <input type="hidden" asp-for="OldCity" value="@Model.OldCity" />

    <label class="form-label" asp-for="Place"></label>
    <span asp-validation-for="Place"></span><br>
    <input class="form-entry-title" type="text" asp-for="Place" /><br>
    <input type="hidden" asp-for="OldPlace" value="@Model.OldPlace" />

    <label class="form-label" asp-for="Tickets"></label>
    <span asp-validation-for="Tickets"></span><br>
    <textarea class="form-entry-body" type="text" asp-for="Tickets"></textarea><br>
    <input type="hidden" asp-for="OldTickets" value="@Model.OldTickets" />

    <label class="form-label" asp-for="Phone"></label>
    <span asp-validation-for="Phone"></span><br>
    <input class="form-entry-title" type="text" asp-for="Phone" /><br>

    <label class="form-label" asp-for="AgeRest"></label>
    <span asp-validation-for="AgeRest"></span>
    <select asp-for="AgeRest">
        <option value="0">0+</option>
        <option value="6">6+</option>
        <option value="12">12+</option>
        <option value="16">16+</option>
        <option value="18">18+</option>
    </select><br>

    <label class="form-label" asp-for="Date"></label>
    <span asp-validation-for="Date"></span><br>



    @if (ViewBag.EventType == EventType.Private)
    {
        <div class="content">@Model.Date.ToString("dd.MM.yyyy HH:mm") изменить на </div>
        <input type="hidden" value="@Model.Date" asp-for="Date" /><br>
        <div class="calender-width" id="eve-edit-date"></div>
    }
    else
    {
        <p> Изменение даты для событий Global невозможно.</p>
    }
    <label class="form-label" asp-for="MainPicture"></label>
    <img class="img-100" src="@($"{Model.MainPicture}?{DateTime.Now.ToString()}")">
    <div class="content">изменить на</div>
    <input class="form-date" type="file" asp-for="NewPicture" /><br>

    <input type="hidden" asp-for="EventId">

    <input class="form-submit" type="submit" value="Сохранить" /><hr>

</form>
}
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}