@using EventBLib.Models
@model EventB.ViewModels.EventsVM.EventListVM
@{
    ViewData["Title"] = "События";
    ViewData["Style"] = "Event.css";
    ViewData["Script"] = "Event.js";
    ViewData["Title"] = "события";
}

<div class="top-page-header flex-hsbs flex-wr">

    <a class="top-page-header-a" asp-controller="Events" asp-action="Add">ДОБАВИТЬ</a>
    @if (Model.ByMyTegsLink != null)
    {
        <a class="ev-recomendations" href="@Model.ByMyTegsLink">рекомендации</a>
    }
</div>

<div class="top-page-header" id="header-title">
    <img class="tune_gold" src="~/resourses/tune_gold_24.png" alt="search" title="поиск" />
    <div class="ticket">c @Model.args.DateSince.ToString("dd.MM.yyyy")</div>
    <div class="ticket">по @Model.args.DateDue.ToString("dd.MM.yyyy")</div>
    @if (Model.args.City != "" || Model.args.City == null)
    {
        <div class="ticket" id="search-param-city">@Model.args.City</div>
    }

    @if (Model.args.Title != "" || Model.args.Title == null)
    {<div class="ticket" id="search-param-title">@Model.args.Title</div>}

    @if (Model.Tegs != null)
    {
        @foreach (var e in Model.Tegs)
        {
            var tegData = new EventB.ViewModels.SharedViews.TegColoredLink()
            {
                TegValue = e,
                City = Model.args.City
            };
            await Html.RenderPartialAsync("~/Views/Shared/_tegColoredLink.cshtml", tegData);
        }
    }


    <input type="hidden" id="args-date-s" value="@Model.args.DateSince.ToString("MM.dd.yyyy HH:mm:ss")" />
    <input type="hidden" id="args-date-e" value="@Model.args.DateDue.ToString("MM.dd.yyyy HH:mm:ss")" />
    <input type="hidden" id="args-city" value="@Model.args.City" />
    <input type="hidden" id="args-teg" value="@Model.args.Tegs" />
    <input type="hidden" id="args-title" value="@Model.args.Title" />
    <input type="hidden" id="args-skip" value=@Model.args.Skip />
    <input type="hidden" id="args-take" value=@Model.args.Take />
    <input type="hidden" id="flag-dwnl-more" value="true" />
</div>
<div id="ev-hello-banner" class="display-none"></div>
<div id="event-list">
</div>
<div id="end-marker">
    <div id="ev-load-more" class="display-none">Загрузить еще</div>
    <div id="noTrespassingOuterBarG">
        <div id="noTrespassingFrontBarG" class="noTrespassingAnimationG">
            <div class="noTrespassingBarLineG"></div>
            <div class="noTrespassingBarLineG"></div>
            <div class="noTrespassingBarLineG"></div>
            <div class="noTrespassingBarLineG"></div>
            <div class="noTrespassingBarLineG"></div>
            <div class="noTrespassingBarLineG"></div>
        </div>
    </div>
</div>


@{
    ViewData["Script"] = "Event.js";
}



