
@using EventB.Models
@model IEnumerable<Event>
@{
    ViewData["Title"] = "Start";
}

    <div class="page-top-menu">
        <a asp-controller="Events" asp-action="Add">ДОБАВИТЬ СОБЫТИЕ</a>
        <a href="#">МОИ СОБЫТИЯ</a>
        <a href="#">СОБЫТИЯ ДРУЗЕЙ</a>
    </div>
@{ 
    foreach (var e in Model)
    { 
        <div class="top-line"></div>
        <div class="eventlist-container">
            <div class="eventlist-img">
                <a asp-controller="Events" asp-action="Details" asp-route-id="@e.EventId"><img src="@e.Image"></a>
            </div>
            <div class="eventlist-info">
                <a asp-controller="Events" asp-action="Details" asp-route-id="@e.EventId"><h3>@e.Title</h3></a>
                    <label class="eventlist-label">Город:</label>
                    <h4>@e.City</h4><br>
                    <label class="eventlist-label">Место:</label>
                    <h4>@e.Place</h4><br>
                    <label class="eventlist-label">дата-время:</label>
                    <h4>@e.Date.ToString("dd.MM.yyyy hh.mm")</h4><br>
                    <label class="eventlist-label">Билеты:</label>
                    <h4>билеты</h4><br>
                    <label class="eventlist-label">Теги:</label>
                    <h4>
                        @e.Tegs
                </h4><BR>
                <div class="eventlist-stats">
                    <span>Автор: @e.Creator</span><BR>
                    <span>Опубликовано: @e.CreationDate.ToString("dd.MM.yyyy")</span>
                </div>
            </div>

        </div>
        <div class="eventlist-bottom-menu">
            <div class="will-go">
                <div class="eventlist-btn-come">Я ПОЙДУ!</div>
                <div class="will-go-img">
                    <img src="~/resourses/check-yellow.png" />
                </div>
            </div>
            <div class="eventlist-btn-come-right-col">
                <img class="info-img" title="просмотров" src="~/resourses/eye.png" />
                <span class="info-num">@e.Views.ToString()</span>
                <img class="info-img" title="отметок нравится" src="~/resourses/like.png" />
                <span class="info-num">@e.Likes.ToString()</span>
                <img class="info-img" title="отметок Пойду" src="~/resourses/share.png" />
                <span class="info-num">xxx</span>

            </div>
        </div>

    }

}





