@model EventBLib.Models.MarketingModels.MarkListCard
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>@Model.AHref</p>
<p>@Model.City</p>
<p>@Model.CreationDate</p>
<p>@Model.ImageLink</p>
<p>@Model.IsPayed</p>
<p>@Model.ShawnQuantity</p>

