@model IEnumerable<EventBLib.Models.Event>

@{
    ViewData["Title"] = "Search";
    ViewData["Style"] = "Search.css";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top-page-header">Результат поиска</div>
@{

    if (Model.Count() == 0)
    {
        <div>Ничего не найдено</div>
    }
    else
    {
        foreach (var e in Model)
        {
            <div class="top-line"></div>
            <div class="eventlist-container">
                <div class="eventlist-img">
                    <a asp-controller="Events" asp-action="Details" asp-route-id="@e.EventId"><img src="@e.Image" alt="@e.Title"></a>
                </div>
                <div class="eventlist-info">
                    <a asp-controller="Events" asp-action="Details" asp-route-id="@e.EventId"><h3>@e.Title</h3></a>
                    <label class="eventlist-label">Город:</label>
                    <h4>@e.City</h4><br>
                    <label class="eventlist-label">Место:</label>
                    <h4>@e.Place</h4><br>
                    <label class="eventlist-label">дата-время:</label>
                    <h4>@e.Date.ToString("dd.MM.yyyy HH.mm")</h4><br>
                    <label class="eventlist-label">Билеты:</label>
                    <h4>билеты</h4><br>
                    <label class="eventlist-label">Теги:</label>
                    <h4>
                        @e.Tegs
                    </h4><BR>
                    <div class="eventlist-stats">
                        <span>Автор: @e.Creator.Name</span><BR>
                        <span>Опубликовано: @e.CreationDate.ToString("dd.MM.yyyy")</span>
                    </div>
                </div>

            </div>
            <div class="eventlist-bottom-menu">
                <div class="eventlist-btn-come-right-col">
                    <img class="info-img" title="Просмотров" src="~/resourses/eye.png" />
                    <span class="info-num">@e.Views.ToString()</span>
                    <img class="info-img" title="Пойдут" src="~/resourses/share.png" />
                    <span class="info-num">@e.WillGo</span>

                </div>
            </div>
        }
    }
}



