@model IEnumerable<EventB.Models.Event>

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Результат поиска</h1>
@{
    if (Model.Count() < 1)
    { <h5>Ничего не найдено</h5>}
    else
    {
        foreach (var e in Model)
        { 
            <div class="item-container">

            <img class="item-img" src="@e.Image" alt="@e.Title">
            <h2 class="item-title">@e.Title</h2>
            <h3>@e.Date</h3>
            <h4>@e.City</h4>
            <h4>@e.Place </h4><br>
            <h4>@e.Tegs</h4>
            <p>@e.Body</p>
            <div class="item-inner-separator"></div>
            <button>Пойду</button>
            <button>Поделиться</button>
            <button>еще что-то</button>
            <div class="item-inner-separator"></div>
                <div calss="statistic">
                    <div class="statistic-item-views">@e.Views</div>
                    <div class="statistic-item-likes">@e.Likes</div>
                    <div class="statistic-item-shares">@e.Shares</div>
                    <div class="author">Автор: @e.Creator.Name</div>
                </div>
            </div>
        }
    }
 }


