@model EventB.ViewModels.FriendsVM.UserInfoVM

@{
    ViewData["Title"] = "Пользователь";
    ViewData["Style"] = "Friends.css";
    ViewData["Script"] = "Friends.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null)
{
    <div class="top-page-header">"Пользователь скрыт"</div>
}
else
{
    <div class="top-page-header">@Model.User.Name</div>
    <div class="ui-info flex-hsbs">
        <input type="hidden" id="user-id" value="@Model.User.Id">
        <div>
            <img class="photo" src="@Model.User.Photo" />
        </div>
        <div class="info-area">
            <label>Город:</label>
            <div>@Model.User.City</div>
            <label>Интересы:</label>
            <div class="flex-hsc flex-wr">
                @foreach (var e in Model.User.Intereses)
                {
                    <div class="interes">@e.Value</div>
                }
            </div>
            <label>Пара слов:</label>
            <div>@Model.User.Description</div>
            <label>Отправить ссылку:</label>
            <div>(Место для ссылки)</div>
            <label>Телефон:</label>
            <div>@Model.User.PhoneNumber</div>
            <label>Адрес:</label>
            <div>(Место для адреса)</div>
        </div>
        <div class="btn-area">
            @if (Model.IsFriend == true)
            {
                <div class="btn" id="btn-del-friend">Удалить из друзей</div>
            }
            else
            {
                <div class="btn" id="btn-add-friend">В друзья</div>
            }
            <div class="btn" id="btn-send-message">Сообщение</div>
            <div class="btn" id="btn-block-user">Заблокировать</div>
        </div>
    </div>
    <div class="ui-bottom-menu flex-hsac">
        <span id="will-go" class="fr-selector fr-checked">Отметки пойду</span>
        <span id="created" class="fr-selector">Созданные</span>
        <span id="friends" class="fr-selector">Друзья</span>
        <span id="photos" class="fr-selector">Фотографии</span>
    </div>

    <div class="ui-botom-content">
        <div class="content go-content">
            @if (Model.WillGoEvents == null || Model.WillGoEvents.Count == 0)
            {
                <div class="mp-none-content">Отметок пойду пока нет.</div>
            }
            else
            {
                <div>Отметки пойду:</div>
                <div class="element-square-container">
                    @foreach (var e in Model.WillGoEvents)
                    {
                        await Html.RenderPartialAsync("_smallFigure", new EventB.ViewModels.FriendsVM.SmallFigureFriendVM()
                        {
                            Title = e.EventTitle,
                            Link = $"/Events/Details/{e.EventId}",
                            Image = e.EventPhoto
                        });
                    }
                </div>
            }
        </div>
        <div class="content create-content display-none">
            @if (Model.CreatedEvents == null || Model.CreatedEvents.Count() == 0)
            {
                <p>Нет сзданных событий</p>
            }
            else
            {
                <div>Созданные события:</div>
                <div class="element-square-container">
                    @foreach (var e in Model.CreatedEvents)
                    {
                        await Html.RenderPartialAsync("_smallFigure", new EventB.ViewModels.FriendsVM.SmallFigureFriendVM()
                        {
                            Title = e.Title,
                            Link = $"/Events/Details/{e.EventId}",
                            Image = e.Image
                        });
                    }
                </div>
            }
        </div>
        <div class="content friends-content display-none">
            @if (Model.Friends == null || Model.Friends.Count() == 0)
            {
                <div class="mp-none-content">Друзей пока нет.</div>
            }
            else
                @foreach (var e in Model.Friends)
                {
                    await Html.RenderPartialAsync("_friendBigCardPartial", e);
                }
        </div>
        <div class="content photos-content display-none">Фотографии не имплементированы.</div>

    </div>
}
    
