@model EventB.ViewModels.FriendsVM.UserInfoVM

@{
    ViewData["Title"] = "Пользователь";
    ViewData["Style"] = "Friends.css";
    ViewData["Script"] = "Friends.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null)
{
    <div class="top-page-header">"Пользователь скрыт"</div>
    ViewData["Title"] = "Пользователь скрыт";
}
else
{
    ViewData["Title"] = Model.User.Name;
    <div class="top-page-header">@Model.User.Name</div>
    <div class="ui-info flex-hsbs">
        <input type="hidden" id="user-id" value="@Model.User.Id">
        <div>
            <img class="ui-photo" src="@Model.User.Photo" />
            <div class="btn-area">

                <input type="hidden" value="@Model.User.Id" id="friend-entity-id" />
                @if (Model.Friend != null && (!Model.Friend.IsConfirmed && Model.Friend.FriendInitiator))
                {
                    <div class="red-btn-alert width100">Ваша заявка в друзья не подтверждена</div>
                }
                @if (Model.Friend == null)
                {
                    <div class="action-button width100 btn-submit add-as-friend">Добавить в друзья</div>
                }
                else if (Model.Friend != null && (!Model.Friend.IsConfirmed && !Model.Friend.FriendInitiator))
                {
                    <div class="action-button width100 agree-friend">Добавить в друзья +</div>
                }
                else if (Model.Friend != null && !Model.Friend.IsBlocked)
                {
                    <div class="action-button width100 btn-block" id="btn-block">Заблокировать</div>
                    <div class="action-button width100 delete-friend">Удалить из друзей</div>
                }
                else
                {
                    <div class="red-btn-alert width100 btn-block" id="btn-block">Заблокирован</div>
                }
                <a asp-controller="Messages" asp-action="Index" asp-route-opponentId="@Model.User.Id"><div class="action-button width100">Сообщение</div></a>

            </div>
        </div>
        <div class="info-area">
            <label>Город:</label>
            <div>@Model.User.City</div>
            <label>Интересы:</label>
            <div class="flex-hsc flex-wr">
                @foreach (var e in Model.User.Intereses)
                {
                    <div class="interes">@e.Value</div>
                }
            </div>
            <label>Пара слов:</label>
            <div>@Model.User.Description</div>
            <label>Отправить ссылку:</label>
            <div>(Место для ссылки)</div>
            <label>Телефон:</label>
            <div>@Model.User.PhoneNumber</div>
            <label>Адрес:</label>
            <div>(Место для адреса)</div>
        </div>
        
    </div>
    <div class="ui-bottom-menu flex-hsac">
        <span id="will-go" class="fr-selector fr-checked">Отметки пойду</span>
        <span id="created" class="fr-selector">Созданные</span>
        <span id="friends" class="fr-selector">Друзья</span>
    </div>

    <div class="ui-botom-content">
        <div class="content go-content">
            @if (Model.WillGoEvents == null || Model.WillGoEvents.Count == 0)
            {
                <div class="mp-none-content">Отметок пойду пока нет.</div>
            }
            else
            {
                <div>Отметки пойду:</div>
                <div class="element-square-container">
                    @foreach (var e in Model.WillGoEvents.OrderByDescending( e => e.Event.Date))
                    {
                        await Html.RenderPartialAsync("_smallFigure", new EventB.ViewModels.FriendsVM.SmallFigureFriendVM()
                        {
                            Title = e.EventTitle,
                            Link = $"/Events/Details/{e.EventId}",
                            Image = e.EventPhoto
                        });
                    }
                </div>
            }
        </div>
        <div class="content create-content display-none">
            @if (Model.CreatedEvents == null || Model.CreatedEvents.Count() == 0)
            {
                <p>Нет сзданных событий</p>
            }
            else
            {
                <div>Созданные события:</div>
                <div class="element-square-container">
                    @foreach (var e in Model.CreatedEvents.OrderByDescending(e =>e.Date))
                    {
                        await Html.RenderPartialAsync("_smallFigure", new EventB.ViewModels.FriendsVM.SmallFigureFriendVM()
                        {
                            Title = e.Title,
                            Link = $"/Events/Details/{e.EventId}",
                            Image = e.Image
                        });
                    }
                </div>
            }
        </div>
        <div class="content friends-content display-none">
            @if (Model.Friends == null || Model.Friends.Count() == 0)
            {
                <div class="mp-none-content">Друзей пока нет.</div>
            }
            else
            {
                <div class="flex-hsac flex-wr">
                    @foreach (var e in Model.Friends)
                    {
                        await Html.RenderPartialAsync("_smallFigure", new EventB.ViewModels.FriendsVM.SmallFigureFriendVM()
                        {
                            Title = e.UserName,
                            Link = $"/Friends/UserInfo/UserInfo?userId={e.UserId}",
                            Image = e.UserPhoto
                        });
                    }
                </div>
            }
        </div>
    </div>
}
    
