@model List<EventBLib.Models.Event>

@{
    Layout = "";
}

@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Заголовок</th>
                <th scope="col">Создан</th>
                <th scope="col">Кем создан</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var eve in Model)
            {
                
                <tr>
                    <td><a href="/Events/Details?eventId=@eve.EventId">@eve.EventId</a></td>
                    <td>@eve.Title</td>
                    <td class="width150">
                        <div>Соз: @eve.CreationDate.ToString("dd_MM_yy")</div>
                        <div>Пров: @eve.Date.ToString("dd_MM_yy")</div>
                    </td>
                    <td>@eve.Creator.NormalizedUserName</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>События не найдено</div>
}
