@model EventBLib.Models.Event
@{ 
    Layout = "_Layout";
    ViewData["Style"] = "events.css";
}
<div>
    <div class="ev-d-title">Заголовок</div>

    <div class="ev-d-title">Выложил</div>
    <div class="ev-d-value">@Model.Creator</div>

    <div class="ev-d-value">@Model.Title</div>
    <div>
        <div class="ev-d-title display-inline">Создан</div>
        <div class="ev-d-value display-inline">@Model.CreationDate</div>
        <div class="ev-d-title display-inline">Состоится</div>
        <div class="ev-d-value display-inline">@Model.Date</div>
        <div class="ev-d-title display-inline">Тип</div>
        <div class="ev-d-value display-inline">@Model.Type.ToString()</div>
        <div class="ev-d-title display-inline">Возраст</div>
        <div class="ev-d-value display-inline">@Model.AgeRestrictions +</div>
        <div class="ev-d-title">Просмотры</div>
        <div class="ev-d-value">@Model.Views</div>
    </div>

    <div class="ev-d-title">Город</div>
    <div class="ev-d-value">@Model.City</div>
    <div class="ev-d-title">Место</div>
    <div class="ev-d-value">@Model.Place</div>
    <div class="ev-d-title">Телефон</div>
    <div class="ev-d-value">@Model.Phone</div>

    <div class="ev-d-title">Теги</div>
    <div class="ev-d-value">@String.Join(", ", Model.EventTegs.Select(e=>e.Teg).ToList())</div>

    <div class="ev-d-title">Заголовок</div>
    <div class="ev-d-value">@Model.Body</div>

    <div class="ev-d-title">Билеты</div>
    <div class="ev-d-value">@Model.TicketsDesc</div>

    <div class="ev-d-image">
        <img src="@Model.Image" alt="Alternate Text" />
    </div>

    <div class="ev-d-title cursor-pointer">Пойдут(@Model.Vizits.Count())</div>
    <div>Здесь будет спрятан список посетителей</div>

    <div class="flex-hss margin-top16">
        <div class="btn btn-success">Подтвердить</div>
        <div class="btn btn-danger">Заблокировать</div>
        <div class="btn btn-info">Сменить статус</div>
        <div class="btn btn-outline-danger">Удалить</div>
    </div>
</div>